#a {
    height: 100px;
    margin-left: 35%;
    width: 500px;
    background: rgb(69, 137, 201);
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 100px;
}
input[type="text"], input[type="password"] {
    height: 10px;
    width: 300px;
    padding: 10px;
    margin-left: 20px;
    font-size: small;
    margin-right: 20px; 
    margin-top:30px;
    font-size: 15px;
    border-radius: 10px;
}
input[type="submit"]{
    height: 60px;
    width: 450px;
    color: white;
    background: rgb(69, 137, 201);
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 30px;
}
.form-field{
    margin-left: 35%;
}